[class^="ps_element-icon-"] .ps_icon-chick .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/chick.png);
}

[class^="ps_element-icon-"] .ps_icon-duck .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/duck.png);
}

[class^="ps_element-icon-"] .ps_icon-eagle .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/eagle.png);
}

[class^="ps_element-icon-"] .ps_icon-kingfisher .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/kingfisher.png);
}

[class^="ps_element-icon-"] .ps_icon-magpie .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/magpie.png);
}

[class^="ps_element-icon-"] .ps_icon-owl .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/owl.png);
}

[class^="ps_element-icon-"] .ps_icon-parrot .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/parrot.png);
}

[class^="ps_element-icon-"] .ps_icon-penguin .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/penguin.png);
}

[class^="ps_element-icon-"] .ps_icon-robin .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/robin.png);
}

[class^="ps_element-icon-"] .ps_icon-sparrow .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/sparrow.png);
}

[class^="ps_element-icon-"] .ps_icon-swallow .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/swallow.png);
}

[class^="ps_element-icon-"] .ps_icon-swan .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/swan.png);
}

[class^="ps_element-icon-"] .ps_icon-bee .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/bee.png);
}

[class^="ps_element-icon-"] .ps_icon-beetle .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/beetle.png);
}

[class^="ps_element-icon-"] .ps_icon-butterfly .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/butterfly.png);
}

[class^="ps_element-icon-"] .ps_icon-caterpillar .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/caterpillar.png);
}

[class^="ps_element-icon-"] .ps_icon-dragonfly .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/dragonfly.png);
}

[class^="ps_element-icon-"] .ps_icon-ladybird .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/ladybird.png);
}

[class^="ps_element-icon-"] .ps_icon-snail .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/snail.png);
}

[class^="ps_element-icon-"] .ps_icon-breakfast .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/breakfast.png);
}

[class^="ps_element-icon-"] .ps_icon-choir .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/choir.png);
}

[class^="ps_element-icon-"] .ps_icon-dance .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/dance.png);
}

[class^="ps_element-icon-"] .ps_icon-football .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/football.png);
}

[class^="ps_element-icon-"] .ps_icon-gymnastics .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/gymnastics.png);
}

[class^="ps_element-icon-"] .ps_icon-netball .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/netball.png);
}

[class^="ps_element-icon-"] .ps_icon-art .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/art.png);
}

[class^="ps_element-icon-"] .ps_icon-british-values .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/british-values.png);
}

[class^="ps_element-icon-"] .ps_icon-computing-tablet .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/computing-tablet.png);
}

[class^="ps_element-icon-"] .ps_icon-computing-computer .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/computing-computer.png);
}

[class^="ps_element-icon-"] .ps_icon-design-tech .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/design-tech.png);
}

[class^="ps_element-icon-"] .ps_icon-english .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/english.png);
}

[class^="ps_element-icon-"] .ps_icon-french .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/french.png);
}

[class^="ps_element-icon-"] .ps_icon-geography .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/geography.png);
}

[class^="ps_element-icon-"] .ps_icon-german .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/german.png);
}

[class^="ps_element-icon-"] .ps_icon-history .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/history.png);
}

[class^="ps_element-icon-"] .ps_icon-maths .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/maths.png);
}

[class^="ps_element-icon-"] .ps_icon-music .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/music.png);
}

[class^="ps_element-icon-"] .ps_icon-pe .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/pe.png);
}

[class^="ps_element-icon-"] .ps_icon-science .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/science.png);
}

[class^="ps_element-icon-"] .ps_icon-spanish .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/spanish.png);
}

[class^="ps_element-icon-"] .ps_icon-welsh .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/welsh.png);
}

[class^="ps_element-icon-"] .ps_icon-white-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/white-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-red-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/red-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-orange-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/orange-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-yellow-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/yellow-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-green-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/green-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-light-blue-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/light-blue-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-dark-blue-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/dark-blue-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-purple-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/purple-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-pink-flower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/pink-flower.png);
}

[class^="ps_element-icon-"] .ps_icon-daffodil .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/daffodil.png);
}

[class^="ps_element-icon-"] .ps_icon-daisy .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/daisy.png);
}

[class^="ps_element-icon-"] .ps_icon-lily .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/lily.png);
}

[class^="ps_element-icon-"] .ps_icon-rose .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/rose.png);
}

[class^="ps_element-icon-"] .ps_icon-snowdrop .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/snowdrop.png);
}

[class^="ps_element-icon-"] .ps_icon-sunflower .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/sunflower.png);
}

[class^="ps_element-icon-"] .ps_icon-tulip .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/tulip.png);
}

[class^="ps_element-icon-"] .ps_icon-ash .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/ash.png);
}

[class^="ps_element-icon-"] .ps_icon-baobab .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/baobab.png);
}

[class^="ps_element-icon-"] .ps_icon-beech .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/beech.png);
}

[class^="ps_element-icon-"] .ps_icon-elm .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/elm.png);
}

[class^="ps_element-icon-"] .ps_icon-holly .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/holly.png);
}

[class^="ps_element-icon-"] .ps_icon-horse-chestnut .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/horse-chestnut.png);
}

[class^="ps_element-icon-"] .ps_icon-maple .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/maple.png);
}

[class^="ps_element-icon-"] .ps_icon-oak .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/oak.png);
}

[class^="ps_element-icon-"] .ps_icon-palm .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/palm.png);
}

[class^="ps_element-icon-"] .ps_icon-pine .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/pine.png);
}

[class^="ps_element-icon-"] .ps_icon-rowan .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/rowan.png);
}

[class^="ps_element-icon-"] .ps_icon-silver-birch .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/silver-birch.png);
}

[class^="ps_element-icon-"] .ps_icon-sycamore .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/sycamore.png);
}

[class^="ps_element-icon-"] .ps_icon-badger .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/badger.png);
}

[class^="ps_element-icon-"] .ps_icon-crocodile .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/crocodile.png);
}

[class^="ps_element-icon-"] .ps_icon-deer .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/deer.png);
}

[class^="ps_element-icon-"] .ps_icon-fox .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/fox.png);
}

[class^="ps_element-icon-"] .ps_icon-giraffe .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/giraffe.png);
}

[class^="ps_element-icon-"] .ps_icon-hedgehog .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/hedgehog.png);
}

[class^="ps_element-icon-"] .ps_icon-lion .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/lion.png);
}

[class^="ps_element-icon-"] .ps_icon-mouse .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/mouse.png);
}

[class^="ps_element-icon-"] .ps_icon-otter .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/otter.png);
}

[class^="ps_element-icon-"] .ps_icon-rabbit .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/rabbit.png);
}

[class^="ps_element-icon-"] .ps_icon-squirrel .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/squirrel.png);
}

[class^="ps_element-icon-"] .ps_icon-tiger .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/tiger.png);
}

[class^="ps_element-icon-"] .ps_icon-buddhism-1 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/buddhism-1.png);
}

[class^="ps_element-icon-"] .ps_icon-buddhism-2 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/buddhism-2.png);
}

[class^="ps_element-icon-"] .ps_icon-buddhism-3 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/buddhism-3.png);
}

[class^="ps_element-icon-"] .ps_icon-christianity-1 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/christianity-1.png);
}

[class^="ps_element-icon-"] .ps_icon-christianity-2 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/christianity-2.png);
}

[class^="ps_element-icon-"] .ps_icon-christianity-3 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/christianity-3.png);
}

[class^="ps_element-icon-"] .ps_icon-hinduism-1 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/hinduism-1.png);
}

[class^="ps_element-icon-"] .ps_icon-hinduism-2 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/hinduism-2.png);
}

[class^="ps_element-icon-"] .ps_icon-hinduism-3 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/hinduism-3.png);
}

[class^="ps_element-icon-"] .ps_icon-islam-1 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/islam-1.png);
}

[class^="ps_element-icon-"] .ps_icon-judaism-1 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/judaism-1.png);
}

[class^="ps_element-icon-"] .ps_icon-judaism-2 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/judaism-2.png);
}

[class^="ps_element-icon-"] .ps_icon-judaism-3 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/judaism-3.png);
}

[class^="ps_element-icon-"] .ps_icon-judaism-4 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/judaism-4.png);
}

[class^="ps_element-icon-"] .ps_icon-sikhism-1 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/sikhism-1.png);
}

[class^="ps_element-icon-"] .ps_icon-moon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/moon.png);
}

[class^="ps_element-icon-"] .ps_icon-shooting-star .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/shooting-star.png);
}

[class^="ps_element-icon-"] .ps_icon-star .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/star.png);
}

[class^="ps_element-icon-"] .ps_icon-sun .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/sun.png);
}

[class^="ps_element-icon-"] .ps_icon-planet .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/planet.png);
}

[class^="ps_element-icon-"] .ps_icon-mercury .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/mercury.png);
}

[class^="ps_element-icon-"] .ps_icon-venus .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/venus.png);
}

[class^="ps_element-icon-"] .ps_icon-earth .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/earth.png);
}

[class^="ps_element-icon-"] .ps_icon-mars .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/mars.png);
}

[class^="ps_element-icon-"] .ps_icon-jupiter .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/jupiter.png);
}

[class^="ps_element-icon-"] .ps_icon-saturn .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/saturn.png);
}

[class^="ps_element-icon-"] .ps_icon-uranus .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/uranus.png);
}

[class^="ps_element-icon-"] .ps_icon-neptune .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/neptune.png);
}

[class^="ps_element-icon-"] .ps_icon-boy-1 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/boy-1.png);
}

[class^="ps_element-icon-"] .ps_icon-boy-2 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/boy-2.png);
}

[class^="ps_element-icon-"] .ps_icon-girl-1 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/girl-1.png);
}

[class^="ps_element-icon-"] .ps_icon-girl-2 .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/girl-2.png);
}

[class^="ps_element-icon-"] .ps_icon-generic-user .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/generic-user.png);
}

[class^="ps_element-icon-"] .ps_icon-cloud .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/cloud.png);
}

[class^="ps_element-icon-"] .ps_icon-rainbow .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/rainbow.png);
}

[class^="ps_element-icon-"] .ps_icon-sun-cloud .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/sun-cloud.png);
}

[class^="ps_element-icon-"] .ps_icon-tree .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/tree.png);
}

[class^="ps_element-icon-"] .ps_icon-white-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/white-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-red-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/red-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-orange-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/orange-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-yellow-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/yellow-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-green-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/green-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-light-blue-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/light-blue-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-dark-blue-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/dark-blue-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-purple-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/purple-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-pink-crayon .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/pink-crayon.png);
}

[class^="ps_element-icon-"] .ps_icon-white-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/white-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-red-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/red-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-orange-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/orange-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-yellow-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/yellow-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-green-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/green-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-light-blue-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/light-blue-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-dark-blue-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/dark-blue-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-purple-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/purple-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-pink-paint .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/pink-paint.png);
}

[class^="ps_element-icon-"] .ps_icon-chalk-board .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/chalk-board.png);
}

[class^="ps_element-icon-"] .ps_icon-clipboard .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/clipboard.png);
}

[class^="ps_element-icon-"] .ps_icon-document .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/document.png);
}

[class^="ps_element-icon-"] .ps_icon-paper .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/paper.png);
}

[class^="ps_element-icon-"] .ps_icon-folder .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/folder.png);
}

[class^="ps_element-icon-"] .ps_icon-pencil .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/pencil.png);
}

[class^="ps_element-icon-"] .ps_icon-white-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/white-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-red-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/red-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-orange-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/orange-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-yellow-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/yellow-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-green-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/green-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-light-blue-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/light-blue-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-dark-blue-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/dark-blue-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-purple-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/purple-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-pink-sticky .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/pink-sticky.png);
}

[class^="ps_element-icon-"] .ps_icon-white-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/white-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-red-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/red-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-orange-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/orange-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-yellow-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/yellow-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-green-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/green-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-light-blue-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/light-blue-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-dark-blue-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/dark-blue-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-purple-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/purple-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-pink-spiral .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/pink-spiral.png);
}

[class^="ps_element-icon-"] .ps_icon-satchel .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/satchel.png);
}

[class^="ps_element-icon-"] .ps_icon-arrow .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/arrow.png);
}

[class^="ps_element-icon-"] .ps_icon-page .icon-image {
  background-image: url(https://primarysite-prod-sorted.s3.amazonaws.com/static/6.17.0/images/subpage_icons/page.png);
}

